@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 300rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.navbar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .nav-list {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navbar .nav-list a {
  font-size: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  color: #2e3257;
}

.navbar .nav-list a:hover {
  font-size: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  color: #2e3257;
}

.navbar .nav-button img {
  width: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 25px;
  align-items: center;
}

.hero-image {
  margin-top: 40px;
  width: 100%;
  height: 55rem;
  background-image: url(/assets/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section3-elements {
  margin-top: 7rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.section3-elements img {
  width: 40%;
  margin-bottom: 2rem;
}

.section3-elements p {
  font-family: "Montserrat", sans-serif;
  width: 40%;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #627d9a;
}

.section3-elements button {
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 15px;
  background-color: #dfc5a4;
  font-weight: bold;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.section4-container {
  margin-bottom: 100px;
}

.section4-elements {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.section4-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.image-card .image-desc {
  display: flex;
  justify-content: space-between;
}

.section4-cards p {
  display: inline;
}

.section4-container .section4-elements h2 {
  font-family: "Montserrat", sans-serif;
  color: #2e3257;
}

.section4-container .section4-elements #sub-title {
  font-family: "Montserrat", sans-serif;
  color: #627d9a;
  margin-top: 0.5rem;
}

.section4-container .section4-elements a {
  font-family: "Montserrat", sans-serif;
  color: #627d9a;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section4-container .section4-elements .product-name,
.product-price {
  font-family: "Montserrat", sans-serif;
  color: #2e3257;
  font-weight: bold;
}

.section4-container .section4-elements .product-type {
  font-family: "Montserrat", sans-serif;
  color: #2e3257;
}

.image-card img {
  margin-bottom: 10px;
}

.quote-section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #2e3257;
  font-family: "Montserrat", sans-serif;
}
